.timeline {
    --date_column_width: 80px;

    --timeline_column_width: 60px;
    --timeline_line_width: 6px;
    --timeline_line_color: #444;
    --timeline_bullet_diameter: 25px;
    --timeline_bullet_border_width: var(--timeline_line_width);
    --timeline_bullet_color: #FFF;

    --content_collapse_duration: 0.3s;
    --content_background_color: #FFF;
    --content_border_color: #444;
    --content_duration_color: #000;
}